@media (max-width: 1024px) {
  .header {
    /* background-color: cornflowerblue; */
  }
  .newSearch2.inputSearch {
    max-width: 100px;
    width: 100%;
  }
  .SizeGRAND-COURT-SHOES {
    margin-top: 25px;
    max-width: 710px;
    width: 100%;
    height: 720px;
    /* height: 100%; */
  }
  .GRAND_COURT_SHOES {
    max-width: 350px;
    height: 350px;
  }
  .mainSizeBox {
    max-width: 250px;
    height: 320px;
    margin-top: 25px;
    justify-content: center;
    margin-top: 240px;
  }
  .MembersName {
    font-size: 1rem;
  }
  .teamMembersMainBox {
    row-gap: 20px;
  }

  .MembersName {
    font-size: 1rem;
  }
  .pharagarapHistori {
    min-height: 100px;
  }
  .WOMEN-S-TOPS {
    max-width: 200px;
    height: 220px;
  }
  .womenT {
    font-size: 0.9rem;
  }
}
@media (min-width: 350px) and (max-width: 750px) {
  .menu {
    display: block;
  }
  .box-garmon {
    display: none;
  }
  .newSearch2.inputSearch {
    margin-top: 30px;
    right: 0;
    max-width: 212px;
  }
  .SizeGRAND-COURT-SHOES {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    height: 875px;
    margin-top: 25px;
  }
  .GRAND_COURT_SHOES {
    max-width: 250px;
    height: 210px;
  }
  .mainSizeBox {
    max-width: 150px;
    margin-top: 50px;
    height: 150px;
    margin: auto;
    /* background-color: cadetblue; */
  }
  .MembersName {
    font-size: 1.2rem;
  }
  .flex {
    /* flex-direction: column;
    display: flex; */
    width: 95%;
    margin: auto;
  }
  .teamMembersMainBox {
    flex-wrap: wrap;
  }
  .teamMenbersNames {
    row-gap: 5px;
  }
  .MembersNameUl {
    margin-bottom: 15px;
    max-width: 190px;
  }
  .womanMainBox {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
  }
  .WOMEN-S-TOPS {
    height: 260px;
  }
}
