.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  background-color: #ff9966;
}
/* .bady {
  height: 100000px;
} */
.menu {
  max-width: 40px;
  height: 16px;
  width: 100%;
  display: grid;
  place-items: center;
  display: none;
}
.navBar {
  display: none;
}
/*! მთვარი გვერდის გარმონი   */
.box-garmon {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
  width: 100%;
}
h2 {
  font-family: "Mulish";
}
h3 {
  font-family: "Mulish";
}
.h2::after {
  content: "\25bc";
}
.garmon {
  cursor: pointer;
  text-align: center;
}

.ul2 {
  max-width: 61.23px;
  width: 100%;
  height: 0;
  background-color: aliceblue;
  position: absolute;
  overflow: hidden;
  transition: all, 0.4s;
}

.garmon.garmon1 .ul2 {
  height: 106px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all, 0.4s;
}
.garmon.garmon1 .ul4 {
  height: 80px;
}
.garmon.garmon1 .h2::after {
  content: "\25b2";
}

.li2:hover {
  border-bottom: 1px solid black;
}
/*! ბურგერის შიდა გარმონი */
.ulBox {
  width: 100%;
}
.ulBox:hover {
  border-bottom: 1px solid black;
}
.ulBox1 {
  padding-top: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.ulBox.newUlBox .ul3 {
  display: block;
  padding-top: 80px;
}
.ulBox.newUlBox .ulBox1 {
  display: block;
}
.ulBox.newUlBoxWoman .ul3 {
  display: block;
  padding-top: 80px;
}
.ulBox.newUlBoxWoman .ulBox1 {
  display: block;
}
.ulBox.newUlBoxkids .ul3 {
  display: block;
  padding-top: 80px;
}
.ulBox.newUlBoxkids .ulBox1 {
  display: block;
}
.ulBox.newUlBoxAcce .ul3 {
  display: block;
  padding-top: 80px;
}
.ulBox.newUlBoxAcce .ulBox1 {
  display: block;
}
.ulBox.newUlBox .h3-h3 {
  display: none;
}
.ul3 {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ccccff 0%, #ff9966 100%);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.icon_back {
  width: 10px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}
.h3-ul-insaid {
  padding-bottom: 20px;
  font-weight: 900;
  font-size: 24px;
  font-family: "Mulish";
}
.main-ulBox-flex {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin-top: 40px;
}
/*! ბურგერი  */
.h3-h3 {
  cursor: pointer;
  font-weight: 900;
  font-size: 24px;
  font-family: "Mulish";
}
.logo2 {
  position: absolute;
  right: 240px;
}
.navBar2 {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  position: fixed;
  background-color: rgb(255, 253, 253);
  display: flex;
  left: 0;
  top: 0;
  transition: all;
  transition-duration: 1s;
  position: fixed;
}
.ul {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.li {
  color: rgb(26, 31, 31);
  font-family: "Mulish";
}
.menu1 {
  width: 40px;
  height: 16px;
  object-fit: cover;
  width: 100%;
  cursor: pointer;
}
.close {
  max-width: 20px;
  height: 20px;
  width: 100%;
  text-align: center;
  display: grid;
  place-items: center;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.close2 {
  object-fit: cover;
  width: 100%;
}
/*! ლოგო  */
.logo1 {
  max-width: 66px;
  height: 38px;
  width: 100%;
  background-color: rgb(255, 253, 253);
  border-radius: 30% 16% 66% 45% / 58% 34% 39% 29%;
}
.logo-image {
  object-fit: cover;
  max-width: 66px;
  height: 38px;
}
/*! სერჩი */
.search1 {
  max-width: 209px;
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.search2 {
  cursor: pointer;
  font-family: "Mulish";
}
.search3 {
  object-fit: cover;
  width: 100%;
  width: 20px;
  height: 20px;
}
.inputSearch {
  margin-top: 30px;
  display: none;
}
.newSearch2.inputSearch {
  display: block;
  max-width: 222px;
  width: 100%;
  position: absolute;
  margin-top: -1px;
  right: 211px;
}
.login {
  cursor: pointer;
}
.sinup {
  cursor: pointer;
}
.secshon {
  width: 100%;
  height: 200px;
  background-color: cadetblue;
  margin-top: 40px;
}

/*! login */
.buttonlogin {
  display: none;
}
.newlogin.buttonlogin {
  display: block;
  width: 100%;
  height: 150px;
  background-color: rgb(255, 253, 253);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}
.buttonBox {
  cursor: pointer;
  font-weight: 700;
  font-family: "Mulish";
}
.submitCursor {
  cursor: pointer;
  border-radius: 4px;
  font-family: "Mulish";
}
.Sing-Up {
  font-weight: 700;
  cursor: pointer;
  font-family: "Mulish";
}
.closeLogin {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.bascet {
  max-width: 20px;
  height: 20px;
  cursor: pointer;
}
.bascet21 {
  display: none;
  transition: all;
  transition-duration: 0.5s;
}

.bascet21.newBascet2 {
  width: 100%;
  height: 600px;
  position: absolute;
  background-color: #ccccff;
  transition: all 1.5s linear;
  display: block;
}
.bascetCloser {
  max-width: 120px;
  height: 20px;
  width: 100%;
  position: absolute;
  top: 110px;
  right: 100px;
  z-index: 12313123;
}
.bascetCloser1 {
  max-width: 120px;
  height: 20px;
  object-fit: cover;
  position: absolute;
}
/*! registred forms  */
.formRegistrBox {
  display: none;
  z-index: 10000123123;
}
.newformRegistrBox.formRegistrBox {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to top right, #ccffff 10%, #ffffff 92%);
  display: block;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000123120123123;
}

.lableBox {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  z-index: 10000123123;
}
.boxRadio {
  max-width: 300px;
  width: 100%;
  text-align: center;
  z-index: 10000123123;
}
.submitBox {
  max-width: 300px;
  width: 100%;
  text-align: end;
  z-index: 10000123123;
}
.submitRegistre {
  cursor: pointer;
  font-family: "Mulish";
  z-index: 10000123123;
}
.inputRadio {
  font-weight: 900;
  cursor: pointer;
  font-family: "Mulish";
  z-index: 10000123123;
}
.singUpValue {
  font-family: "Mulish";
  font-weight: 500;
  font-size: 1rem;
  z-index: 10000123123;
}
/*! სლაიდერი  */
.splide__track {
  height: 200px;
  width: 100%;
  margin-top: 140px;
}
.kaki2.kaki7 {
  column-gap: 10px;
}
.splide__list .firsSlider {
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100%;
}
.firsSlider.kaki6 {
  max-width: 350px;
  width: 100%;
}
.firsSlider.kaki6 .splideBox {
  width: 100%;
  object-fit: cover;
}
.firsSlider.kaki6:hover {
  border: 2px solid black;
}
.h2bostasi {
  position: absolute;
  bottom: 15px;
}
.pbotasi {
  position: absolute;
  bottom: 0;
}
.box4 {
  display: none;
}
.box4.box5 {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #dfd6d1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.clickBack {
  max-width: 10px;
  height: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 5px;
  cursor: pointer;
  z-index: 123;
}
/* ბოტასების შიდა განყოფილება */
.Main-GRAND-COURT-SHOES1 {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
}
.SizeGRAND-COURT-SHOES {
  max-width: 910px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(50px, 1fr));
  grid-gap: 20px;
  margin-top: 25px;
}
.GRAND_COURT_SHOES:hover {
  border: 1px solid black;
  cursor: pointer;
}
.GRAND_COURT_SHOES {
  max-width: 450px;
  height: 450px;
  width: 100%;
  transition: all 0.3s;
}
.GRAND_COURT_SHOES1 {
  max-width: 450px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mainSizeBox {
  max-width: 300px;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  margin: auto;
}
.sizeBox {
  max-width: 100px;
  width: 100%;
  height: 20px;
}
.sizeRadio {
  margin-left: 18px;
}
.fontSize {
  font-family: "Outfit";
  font-weight: 700;
  font-size: 1rem;
}
.ShoseName {
  font-family: "Outfit";
  font-weight: 900;
  font-size: 1.1rem;
  text-align: center;
}
.pharagrapPrise {
  font-weight: 700;
  font-size: 1.1rem;
  padding-top: 5px;
}
.priseBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #4a3b34;
  max-width: 200px;
  min-height: 70px;
}
/* მეორე ბოტასი */
.box4-6 {
  display: none;
}
.box4-6.box6 {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #dfd6d1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
/* მესამე ბოტასი */
.box4-7 {
  display: none;
}
.box4-7.box7 {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #dfd6d1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
/*  */
.box4-8 {
  display: none;
}
.box4-8.box8 {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #dfd6d1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
/*  */
.box4-9 {
  display: none;
}
.box4-9.box9 {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #dfd6d1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
/*  */
.box4-10 {
  display: none;
}
.box4-10.box10 {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #dfd6d1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
/*  */
.GRAND_COURT_SHOES:hover {
  transform: scale(1.1);
}
/* test */
.asyncFnc {
  margin-top: 100px;
}
.flex {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.teamMembersMainBox {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  width: 100%;
}
.teamMenbersNames {
  display: flex;
  width: 100%;
  column-gap: 20px;
  text-align: center;
}
.MainBox {
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}
.MembersNameUl {
  width: 100%;
  cursor: pointer;
  box-shadow: 15px 15px 20px rgb(255, 255, 0);
}
.TeamMembersImage {
  max-width: 220px;
  height: 110px;
  object-fit: cover;
  width: 100%;
  margin-top: 0.3rem;
}
.MembersName {
  color: rgb(84, 59, 59);
  font-family: "Mulish";
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}

.pharagarapHistori {
  font-family: "Mulish";
  font-weight: 500;
  font-size: 1rem;
  color: #060605;
  margin-top: 0.25rem;
}

/* ვალიდაციის ტექსტი */
.error-text {
  color: red;
  font-size: 1rem;
}
/* woman */
.womanMainBox {
  width: 100%;
  margin-top: 40px;
  display: flex;
  column-gap: 15px;
  text-align: center;
  justify-content: center;
  justify-content: space-between;
}
.WOMEN-S-TOPS {
  max-width: 250px;
  height: 260px;
  width: 100%;
  transition: all 0.3s;
}
.WOMEN-S-TOPS:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px;
}
.T-shirtsImg {
  object-fit: cover;
  width: 100%;
  margin-top: 0.4rem;
}
.womenT {
  font-weight: 700;
  font-size: 1.3rem;
  font-family: "Mulish";
  margin-top: 0.2rem;
}
.womanTP {
  font-weight: 700;
  font-size: 1rem;
  font-family: "Outfit";
  margin-top: 0.2rem;
  color: rgb(14, 14, 14);
}
.kids {
  margin-top: 115px;
}
/*footer */
.footer {
  width: 100%;
  background-color: #f3f0ee;
  display: flex;
  /* margin: auto; */
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
}
.searchBox1 {
  display: flex;
  justify-content: end;
  max-width: 380px;
  width: 100%;
}
.inputSearch1 {
  display: none;
}
.inputSearch1.inputSearch12 {
  display: block;
}
.filtre {
  display: flex;
  column-gap: 10px;
}
.inputSearch1 {
  width: 100%;
}
.inputFooterSearch {
  max-width: 250px;
  width: 100%;
}
.socmediaIconBox {
  width: 100%;
  border-radius: 90px;
  width: 20px;
  height: 20px;
  box-shadow: 5px 5px 20px rgb(0, 255, 64);
  display: grid;
  place-items: center;
}
.socMediaIcon {
  object-fit: cover;
  width: 100%;
  border-radius: 90px;
}
.socMedia {
  max-width: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* media */
@media (max-width: 1024px) {
  .newSearch2.inputSearch {
    max-width: 100px;
    width: 100%;
  }
  .SizeGRAND-COURT-SHOES {
    margin-top: 25px;
    max-width: 710px;
    width: 100%;
    height: 720px;
  }
  .GRAND_COURT_SHOES {
    max-width: 350px;
    height: 350px;
  }
  .mainSizeBox {
    max-width: 250px;
    height: 320px;
    margin-top: 25px;
    justify-content: center;
    margin-top: 240px;
  }
  .MembersName {
    font-size: 1rem;
  }
  .teamMembersMainBox {
    row-gap: 20px;
  }

  .MembersName {
    font-size: 1rem;
  }
  .pharagarapHistori {
    min-height: 100px;
  }
  .WOMEN-S-TOPS {
    max-width: 200px;
    height: 220px;
  }
  .womenT {
    font-size: 0.9rem;
  }
}
@media (min-width: 350px) and (max-width: 750px) {
  .menu {
    display: block;
  }
  .box-garmon {
    display: none;
  }
  .newSearch2.inputSearch {
    margin-top: 30px;
    right: 0;
    max-width: 212px;
  }
  .SizeGRAND-COURT-SHOES {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    height: 875px;
    margin-top: 25px;
  }
  .GRAND_COURT_SHOES {
    max-width: 250px;
    height: 210px;
  }
  .mainSizeBox {
    max-width: 150px;
    margin-top: 50px;
    height: 150px;
    margin: auto;
  }
  .MembersName {
    font-size: 1.2rem;
  }
  .flex {
    width: 95%;
    margin: auto;
  }
  .teamMembersMainBox {
    flex-wrap: wrap;
  }
  .teamMenbersNames {
    row-gap: 5px;
  }
  .MembersNameUl {
    margin-bottom: 15px;
    max-width: 190px;
  }
  .womanMainBox {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
  }
  .WOMEN-S-TOPS {
    height: 260px;
  }
}
